/*
.products {
    text-transform: uppercase;
}

.popular {
    text-transform: uppercase;
    margin-left: 40rem;
    color: rgb(233, 154, 7);
}

.all {
    text-transform: uppercase;
}

.row {
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
}

.row a {
    text-decoration: none;
    color: black;
}




*/

.nav {
    margin-top: 3rem;
}

.row {
    /* margin-top: 0; */
    margin-bottom: 1.5rem;
    justify-content: end;
}

.row a:nth-child(1) {
    /* margin-left: 10rem; */
}

 a {
    text-decoration: none;
color: black;
text-transform: uppercase;
margin-left: 0;
}

 a:hover {
    color: rgb(233, 154, 7);
}


a:active {
    color: gray;
    }


/*MEDIA QUERY*/
/*576,768,992,1200,1400*/

@media only screen and (max-width: 576px) {
    .row a:nth-child(1) {
        margin-left: 0;
    }

    a {
    font-size: 0.8rem;
}

.nav {
    margin-top: 4rem;
}
}


@media only screen and (max-width: 768px) {

    .row {
        margin-top: 2rem;
    }

    .row a:nth-child(1) {
        /* margin-left: 0rem; */
    }
    
     a {
    /* margin-left: 0; */
    }

    .nav {
        margin-top: 1rem;
    }
    

}

@media only screen and (max-width: 1200px) {
}