.products {
    text-transform: uppercase;
}

.popular {
    text-transform: uppercase;
    margin-left: 40rem;
    color: rgb(233, 154, 7);
}

.all {
    text-transform: uppercase;
}

.row {
    margin-top: 2rem;
    padding-bottom: 2rem;
    /* margin-left: 1rem; */
}

.row a {
    text-decoration: none;
    color: black;
}

.row a:active {
color: gray;
}

.row a:hover {
    color: rgb(233, 154, 7);
}




/*MEDIA QUERY*/


@media only screen and (max-width: 1073px) {



    }
    
