.main {
    margin-top: 10rem;
}
.items {
    margin-left: 5.5rem;
    margin-right: 3.5rem;
    display: flex;
    margin-bottom: 7rem;
}

/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (max-width:480px) {
.main {
    margin-top: 6rem;
}
}