
.items {
    /* margin-left: 5.5rem; */
    /* margin-right: 3.5rem; */
 justify-content: center;
    display: flex;
    margin-bottom: 7rem;
    height: 100%;
}

.it {
    display: flex;
    text-align: center;
}


.card-body {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.img {
    width: 5rem;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    margin-left: 3rem;
}


   /*MEDIA QUERY*/
    /*576,768,992,1200,1400*/

@media only screen and (max-width: 576px) {
    .items {
        margin-left: 1rem;
        margin-right: 1rem;
    }    

    .card {
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 768px) {
.items {
    margin-left: 0;
    margin-right: 0;
}

.item {
    margin: 0;
}

}

@media only screen and (max-width: 1200px) {
}
/**/