.card {
    display: flex;
}

.items {
    margin-left: 5.5rem;
    margin-right: 3.5rem;
}

.card-text {
    text-align: center;
} 



   /*MEDIA QUERY*/
    /*LAPTOP*/
    @media only screen and (max-width: 1024px) {
 
.items {
    margin-left: 5.5rem;
    margin-right: 3.5rem;
}
    }


/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (max-width:480px) {
    .items {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-bottom: 5rem;
    }
}
