
.items {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
    height: 100%;
}


.body {
    text-align: center;
 }


.img {
    width: 5rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    margin-left: 3rem;
    margin-bottom: 1rem;
}


   /*MEDIA QUERY*/
    /*576,768,992,1200,1400*/

@media only screen and (max-width: 576px) {
    .items {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }    

    .card {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

   
}

@media only screen and (min-width: 768px) {
.items {
    /* margin-left: 0.5rem; */
    /* margin-right: 0.5rem; */
    margin-right: 0.8rem;
}

.card {
    margin-left: 1rem;
    height: 100%;
}

}

@media only screen and (max-width: 1200px) {
}
/**/