.form {
    margin-left: 4rem;
    margin-right: 4rem;
}

.btn {
    width: 10rem;
    background: rgb(233, 154, 7);
    border-style: none;
}


/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (max-width:480px) {
    .form {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    
    .btn {
        width: 10rem;
        background: rgb(233, 154, 7);
        border-style: none;
    }
    
}


@media only screen and (max-width: 583px) {
   
.form {
    margin-left: 0rem;
}

    .btn {
        margin-top: 0.2rem;
        font-size: 0.7rem;
        max-width: 7rem;
    }
}