.login {
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}
 

.log {
    box-shadow: 0 4px 8px 0px rgb(0 0 0 / 80%);
    background: whitesmoke;
    width: 32rem;
    border-radius: 5px;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;

}

.log h5 {
    text-align: center;
    text-transform: uppercase;
    margin: 2.5rem 0 1rem 0;
}

.log form {
    /* margin: 0 ; */
    
}


.log input {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    /* margin: 1.5rem 1rem 0 4rem; */
    width: 24rem;
    padding: 0.5rem 0rem;
    justify-content: center;
    border: 2px solid rgb(233, 154, 7);
}




.log .btn {
margin: 1.5rem 1rem 2rem 4rem;
background: rgb(233, 154, 7);
padding: 0.5rem 0rem;
border-radius: 5px;
color: white;
text-align: center;
border-style: none;
width: 24rem;
}

.log textarea {
    text-align: center;
    width: 24rem;
    margin-right: 3rem;
    margin-left: 3rem;
}


.log p {
    text-align: center;
    margin-bottom: 3rem;
}

.link {
    text-decoration: none;
    color: rgb(233, 154, 7);;
}




/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (max-width: 576px) {

.login {
        margin-top: 3.5rem;
    }

    .log {
        box-shadow: 0 4px 8px 0px rgb(0 0 0 / 80%);
        background: whitesmoke;
        width: 22rem;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        /* margin: 3rem 0rem 2rem 2rem; */
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .log p {
        margin-bottom: 0;
    }
    
    .log input {
        text-align: center;
        display: block;
        margin: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        width: 13rem;
        padding: 0.5rem 0rem;
        justify-content: center;
        border: 0.5px solid rgb(233, 154, 7);
    }

    .log textarea {
        width: 13rem;
        margin-right: auto;
        margin-left: 3.8rem;
    }
    
.log .btn {
    margin: 1.5rem 0 2rem 0;
    margin-left: 4.5rem;
    margin-right: auto;
    width: 13rem;
    
}

}


@media only screen and (max-width: 768px) {
    .login {
        margin-bottom: 1rem;
    }
    
    .log .btn {
        margin: 1.5rem 0 2rem 0;
        margin-left: 4rem;
        margin-right: auto;
        width: 24rem;
        
    }
}  


@media only screen and (max-width: 1400px) and (min-width: 986px) {   
    .log .btn {
        margin: 1.5rem 0 2rem 0;
        margin-left: 4rem;
        margin-right: auto;
        width: 24rem;
        
    }

}