
 .container {
    margin-left: 3rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 4rem;
}

a:nth-child(1) {
    margin-left: 32rem;
}


.title {
    color: white;
font-size: 1.8rem;
}



.btn {
    border-radius: 50px;
    padding: 1rem 1rem;
    background: rgb(233, 154, 7);
    border-style: none; 
    margin-right: 1.5rem;
    margin-left: 18rem;
}


.button {
    border-radius: 50px;
    padding: 1rem 1rem;
    background: rgb(233, 154, 7);
    border-style: none; 
}

.button a {
    margin-left: 0;
}

.nav {
    background: #B6D0E2;

}


/*576,768,992,1200,1400*/

@media only screen and (max-width: 576px) {
.container {
    margin-left: 0;
}

.title {
    font-size: 1.5rem;
}

a {
    margin-left: 0;
    font-size: 1rem;
    text-align: center;
}

a:nth-child(1) {
    margin-left: 0;
}

.btn {
    padding: 0.5rem 0;
margin: auto;
margin-bottom: 0.5rem;
margin-top: 0.2rem;
    width: 7rem;
}

.button {
    width: 7rem;
    padding: 0.5rem 0;
    margin: auto;
}

.button a {
    margin-left: 0;
}
}


@media only screen and (max-width: 768px) {
    .container {
        margin-left: 0;
    }
    
    .title {
        font-size: 1.5rem;
    }
    
    a {
        margin-left: 0;
        font-size: 1rem;
        text-align: center;
    }
    
    a:nth-child(1) {
        margin-left: 0;
    }
    
    .btn {
        padding: 0.5rem 0;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
        width: 7rem;
    }
    
    .button {
        width: 7rem;
        padding: 0.5rem 0;
        margin: auto;
    }
    
    .button a {
        margin-left: 0;
    }
    
    }


    
@media only screen and (max-width: 1200px) {
}