
 .container {
    margin-left: 2rem;
    margin-top: 1rem;
}

.links {
    margin-top: 1rem;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-left: 4rem;
    text-transform: uppercase;
}

.links a:nth-child(1) {
    margin-left: 26rem;
}


.title {
    color: white;
font-size: 2rem;
}



 .btn {
    border-radius: 50px;
    padding: 1rem 1rem;
    background: rgb(233, 154, 7);
    border-style: none; 
    margin-right: 1.5rem;
    margin-left: 20rem;
text-transform: uppercase;
}


 .button {
    text-transform: uppercase;
    border-radius: 50px;
    padding: 1rem 1rem;
    background: rgb(233, 154, 7);
    border-style: none; 
}

.link {
    text-decoration: none;
    color: white;
}


.nav {
    background: #B6D0E2;

}


/*576,768,992,1200,1400*/

@media only screen and (max-width: 576px) {
.container {
    margin-left: 0;
}

.title {
    font-size: 1.3rem;
}

.links {
    margin-top: 1rem;
    margin-left: 0;
}

.links a:nth-child(1) {
    margin-left: 0;
}

.links a {
    margin-left: 0;
    font-size: 1rem;
    text-align: center;
    display: block;
}

.btn {
    padding: 0.5rem 0;
/* margin: auto; */
margin-left: auto;
margin-right: auto;
margin-bottom: 0.5rem;
margin-top: 0.2rem;
    width: 7rem;
}

.button {
    width: 7rem;
    padding: 0.5rem 0;
    margin: auto;
}


}


@media only screen and (max-width: 768px) {
    .container {
        margin-left: 0;
    }
    
    .title {
        font-size: 1.5rem;
    }

    .links a:nth-child(1) {
        margin-left: 0rem;
    }
    
.links a {
    margin-left: 0;
    font-size: 1rem;
    text-align: center;
    display: block;
}
    .btn {
        padding: 0.5rem 0;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
        width: 7rem;
    }
    
    .button {
        width: 7rem;
        padding: 0.5rem 0;
        /* margin: auto; */
    }
    
    .button a {
        margin-left: 0;
    }
    
    }


    

    @media only screen and (max-width: 1400px) and (min-width: 986px) {   
        
        .links a {
            margin-top: 1rem;
            font-size: 1.1rem;
            margin-left: 2rem;
        }
        
       
        .links a:nth-child(1) {
            margin-left: 12rem;
        }
        
    
         .btn {
             margin-right: 1.5rem;
            margin-left: 21rem;
         }
        
        
   
        
     
        
        

    }