
.title {
    font-size: 1.5rem;
    color: white;
    }
    
    .about {
        margin-right: 1rem;
        font-size: 1.1rem;
        color: white;
    }
    
    .home {
        margin-left: 29rem;
        margin-right: 1rem;
        font-size: 1.1rem;
        color: white;
    }
    
    .btn {
        border-radius: 50px;
        padding: 1rem 3rem;
        background: rgb(233, 154, 7);
        border-style: none; 
        margin-right: 1.5rem;
    }
    
    
    .button {
        border-radius: 50px;
        padding: 1rem 3rem;
        background: rgb(233, 154, 7);
        border-style: none; 
    }
    
    .nav {
        background: #B6D0E2;

    }
    
    
    /*MEDIA QUERY*/
    /*Mobile*/
    @media only screen and (max-width:480px) {
        .title {
            margin-left: 0.5rem;
            }
            
       
        .home {
            margin-left: 0;
            text-align: center;
            margin-right: 1rem;
        }
    
        
    .about {
    text-align: center;
    }
    
    .button, .btn {
        padding: 1rem 1rem;
    margin: 0 4rem 2rem 4rem;
        justify-content: center;
      align-items: center;
    }
    }
    