.container  {
    margin-top: 14rem;
    /* background: #B6D0E2; */
    /* padding:; */
}


.footer {
    margin-left: 7rem;
}

.container p {
    color: gray;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.useful h4 {
    text-transform: capitalize;
    font-size: 1.3rem;
}

.useful a {
    text-decoration: none;
    color: gray;
    display: block;
    margin-top: 1rem;
    text-transform: capitalize;
}

.right {
    padding-top: 5rem;
    text-align: center;
}




/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (max-width:576px) {

    .footer {
        margin-left: 0;
        font-size: 0.5rem;
    }

.container {
    text-align: center;
}
    
    .container h3 {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 4rem;
        font-size: 0.7rem;
    }

    .container h4 {
        /* text-align: center; */
        font-size: 0.7rem;
    }
    
    .container p {
        text-align: center;
        margin-right: 0;
    }
    

    .useful h4 {
        margin-bottom: 0.5rem;
        margin-left: 0.6rem;
        font-size: 0.5rem;
    }
    
    .useful a {
        /* text-align: center; */
        margin-top: 0.1rem;
        margin-left: 0.6rem;
    }
    
    .right {
        padding-top: 1.5rem;
        text-align: center;
        font-size: xx-small;
    }
    


}

@media only screen and (max-width:768px) {
    .container {
    margin-top: 8rem;    
        margin-left: 0;
}

    .container h3 {
        font-size: 1rem;
        margin-left: 0;
    }

    .container a {
        margin-left: 0rem;
    }

    .container p, .container a {
        font-size: 0.5rem;
    }

.container a:hover {
    color:  rgb(233, 154, 7);
}

    .useful h4 {
        font-size: 0.7rem;
    }
    

    .useful a {
        /* margin-left: 1rem; */
    }

.right {
    text-align: center;
}

}