
.container  {
    margin-top: 14rem;
    /* background: #B6D0E2; */
    /* padding:; */
}

.container h3, .container h4 {
    margin-bottom: 2rem;
}

.footer {
    margin-left: 5rem;
}

.container p {
    color: gray;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.useful {
    text-transform: capitalize;
}

.useful a {
    text-decoration: none;
    color: gray;
    display: block;
    margin-top: 1rem;
}

.right {
    padding-top: 5rem;
    text-align: center;
}




/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (max-width:480px) {

    .container  {
        margin-top: 1rem;
    }
    
    .container h3 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .container h4 {
        text-align: center;
    }
    
    .container p {
        text-align: center;
    }
    
    .useful {
        text-transform: capitalize;
    }
    
    .useful a {
        text-align: center;
        margin-top: 0.5rem;
    }
    
    .right {
        padding-top: 5rem;
        text-align: center;
    }
    

}