.footer {
    margin-top: 10rem;
    /* margin-left: 7rem; */
    /* background: #B6D0E2; */
    margin-left: 10rem;
    margin-right: 5rem;
    font-size: 0.9rem;
}
 
.container a:hover {
    color:  rgb(233, 154, 7);
}

.container p {
    color: gray;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.useful h4 {
    text-transform: capitalize;
    font-size: 1.3rem;
}

.useful a {
    text-decoration: none;
    color: gray;
    display: block;
    margin-top: 1rem;
    text-transform: capitalize;
}

.right {
    padding-top: 5rem;
    text-align: center;
}


/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (max-width:576px) {
    .footer {
        margin-top: 4rem;
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 0.9rem;
    }
    
    .container p {
        margin-right: 0rem;
    }


    .useful h4 {
        margin-top: 0.6rem;
    }

    
    .right {
        padding-top: 2rem;
        text-align: center;
    }
    
    


}

@media only screen and (max-width:768px) {
    .footer {
        margin-top: 4rem;
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 0.9rem;
    }
    
    .container p {
        margin-right: 0rem;
    }


    .useful h4 {
        margin-top: 0.6rem;
    }

    
    .right {
        padding-top: 2rem;
        text-align: center;
    }
    
    .fur {
        text-align: center;
    }

    .useful {
    text-align: center;    
    }

}

@media only screen and (max-width: 1400px) and (min-width: 986px) {
}