*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* background-image: url('./assets/sincerely-media-56pMIREBAcg-unsplash.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*MEDIA QUERY*/
/*Mobile*/
@media only screen and (max-width: 320px) {
 * {
  max-width: 100vw;
 }

}