/*.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input label {
    font-weight: bold;
    margin-right: 1rem;
}

.input input {
    width: 3rem;
    border-radius: 5px;
    background-origin: 1px solid blue;
    padding-left: 0.5rem;
}
*/


.input {
    text-align: center;
}

.input Input {
margin-left: 0.5rem;
border: 2px solid rgb(233, 154, 7);
}

.input input {
    text-align: center;
}

/*576,768,992,1200,1400*/

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1200px) {
}