.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input label {
    font-weight: bold;
    margin-right: 1rem;
}

.input input {
    width: 3rem;
    border-radius: 5px;
    background-origin: 1px solid blue;
    padding-left: 0.5rem;
}

@media only screen and (max-width: 583px) {
    .input {
        margin-left: 0rem;
    }
}